* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1f293a;
    overflow-y: hidden;
    overflow-x: hidden;
}

.working-note {
    display: none;
}

/* home page screen */

.home-page {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 3px red; */
}

/* .home-page:hover .sign-up-container {
    transform: translateY(0);
}

.home-page:hover .login-container {
    transform: translateY(-100%);
} */

.login-container,
.sign-up-container {
    transition: 1s;
    transition-timing-function: ease-in;
}

/* ventana de alerta personalizada */

.custom-alert-window {
    position: absolute;
    top: 0;
    background-color: #ee4b4b;
    display: flex;
    color: #fff;
    font-weight: 600;
    height: 50px;
    width: 30%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    gap: 10px;
    transform: translateY(-100%);
    z-index: 20;
    transition: .5s;
}

#alert {
    display: none;
}

#error {
    display: none;
}

/* .custom-alert-window:hover {
    transform: translateY(20px);
} */


.sign-up-container {
    transform: translateY(100%);
}


/* sign up screen */
.sign-up-container {
    position: absolute;
    height: 100vh;
    display: flex;
    align-items: center;
    /* transform: translateY(100%); */
    /* border: solid 3px yellow; */
}

.signin-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px #0ef;
    height: 510px;
    width: 410px;
    overflow: hidden;
    border-radius: 20px;
    transition: .5s;
    /* box-shadow: 0 0 50px #0ef; */
}

/* .signin-wrapper:hover {
    filter: hue-rotate(180deg);
} */

@keyframes rotate-colors {
    100% {
        filter: hue-rotate(360deg);
    }
}

.wrapper::before {
    display: none;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 400px;
    background: linear-gradient(180deg, transparent, #0ef, #0ef);
    transform-origin: top left;
    animation: rotatePseudoElements 4s linear infinite;
    z-index: -10;
}

.wrapper::after {
    display: none;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 400px;
    background: linear-gradient(180deg, transparent, #0ef, #0ef);
    transform-origin: top left;
    animation: rotatePseudoElements 4s linear infinite;
    animation-delay: -2s;
    z-index: -10;

}

@keyframes rotatePseudoElements {
    100% {
        transform: rotate(360deg);
    }
}

.wrapper.show-before::before,
.wrapper.show-after::after {
    display: block;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 500px;
    background-color: #000;
    /* box-shadow: 0 0 50px #0ef; */
    border-radius: 20px;
    padding: 40px;
    transition: 2s;
}

@keyframes sign-up-animation {
    100% {
        filter: hue-rotate(360deg);
    }
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

h2 {
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.input-group {
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input-group input {
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 5px;
    background: transparent;
    border: none;
    outline: none;
}

.input-group input:focus~label,
.input-group input:valid~label {
    top: -5px;
}

.remember {
    margin: -5px 0 15px 5px;
}

.remember label {
    color: #fff;
    font-size: 14px;
}

.remember label input {
    accent-color: #0ef;
}

.signup-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signup-buttons button {
    position: relative;
    width: 50%;
    height: 40px;
    background-color: #0ef;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #000;
    font-weight: 500;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    outline: none;
    margin-top: 20px;
    transition: .3s;
}

.signup-buttons button:hover {
    scale: 1.1;
}

.sign-up-link {
    font-size: 14px;
    text-align: center;
    margin: 15px 0;
}

.sign-up-link p {
    color: #fff;
}

.sign-up-link p a {
    color: #0ef;
    text-decoration: none;
    font-weight: 500;
}

.sign-up-link p a:hover {
    text-decoration: underline;
}




.login-container {
    position: relative;
    width: 256px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 3px white; */
}

.login-container span {
    /* display: none; */
    position: absolute;
    left: 0;
    width: 32px;
    height: 6px;
    background-color: #2c4766;
    border-radius: 8px;
    transform-origin: 128px;
    transform: scale(2.2) rotate(calc(var(--i) * (360deg / 50)));
    transition: .5s;
    /* animation: animateBlink 3s linear infinite; */
    /* animation-delay: calc(var(--i) * (3s / 50)); */
}

@keyframes animateBlink {
    0% {
        background-color: #0ef;
    }

    25% {
        background-color: #2c4766;
    }
}

.login-box {
    position: absolute;
    width: 400px;
}

.login-box form {
    width: 100%;
    padding: 0 50px;
}

.login-box h2 {
    font-size: 2em;
    color: #0ef;
    text-align: center;
}

.input-box {
    position: relative;
    margin: 25px 0;
}

.input-box input {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: solid 2px #2c4766;
    outline: none;
    border-radius: 40px;
    transition: .5s ease;
    color: #fff;
    padding: 0 20px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .5s ease;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: 1px;
    font-size: .8em;
    padding: 0 8px;
    background-color: #1f293a;
    color: #0ef;
}

.input-box input:focus {
    border-color: #0ef;
}

.forgot-pass {
    margin: -15px 0 10px;
    text-align: center;
}

.forgot-pass a {
    font-size: .85em;
    color: #fff;
    text-decoration: none;
}

.forgot-pass a:hover {
    text-decoration: underline;
}

.login-btn {
    width: 100%;
    height: 45px;
    background-color: #0ef;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #1f293a;
    font-weight: 600;
}

.signup-link {
    margin: 20px 0 10px;
    text-align: center;
}

.signup-link a {
    font-size: 1em;
    color: #0ef;
    text-decoration: none;
    font-weight: 600;
}

.signup-link a:hover {
    text-decoration: underline;
}


/* panel */



.panel-container {
    border: solid 5px #00ffff;
    height: 400px;
    width: 500px;
    display: grid;
    grid-template-rows: 30% 45% 25%;
    border-radius: 15px;
    animation: panel-shadow 3s ease-out infinite;
}

@keyframes panel-shadow {
    0% {
        box-shadow: 0 0 0px #B915CC;
    }

    50% {
        box-shadow: 0 0 70px #B915CC;
    }

    100% {
        box-shadow: 0 0 0px #B915CC;
    }
}

.panel-title {
    margin: auto;
    font-size: 25px;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.data-wrapper {
    height: 100%;
    width: 100%;
    font-size: 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
    color: #00ffff;
    gap: 15px;
}

.data-wrapper span {
    color: #fff;
    font-weight: 600;
}

.buttons-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttons-wrapper button {
    height: 40px;
    font-size: 16px;
    padding: 0 5px;
    background-color: #EA7C25;
    color: #000;
    border-radius: 15px;
    border: solid 3px #000;
    transition: .5s;
}

.buttons-wrapper button:hover {
    scale: 1.1;
}




/* codgio para la tabla de datos */

.table-wrapper {
    border: solid 3px #00ffff;
    height: 450px;
    width: 800px;
    /* overflow-y: auto; */
    overflow-x: hidden;
    display: grid;
    grid-template-rows: 85% 15%;
}

.table-container {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.table-wrapper table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    display: grid;
    grid-template-rows: 20% 80%;
}

.table-wrapper table thead {
    color: #fff;
    border-bottom: solid 3px #00ffff;
    position: relative;
    background-color: #1F293A;
    position: sticky;
    top: 0;
}

.table-wrapper table thead tr {
    background-color: #1F293A;
    height: 60%;
    padding-top: 23px;
}

.table-wrapper table thead tr th {
    height: 50%;
    padding: 10px;
    text-align: center;
    border-right: solid 3px #00ffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-wrapper table thead tr,
.table-wrapper table tbody tr {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    font-size: 22px;
}

.table-wrapper tbody tr {
    height: 50px;
    color: #ccc;
    text-align: center;
    border-bottom: solid 3px #00ffff;
}

.table-wrapper tbody tr td {
    padding: 10px;
    border-right: solid 3px #00ffff;
}

.table-wrapper table thead tr th:last-child,
.table-wrapper tbody tr td:last-child {
    border-right: none;
}

.no-data td {
    width: 53vw;
    text-align: center;
    font-style: italic;
    color: #999;
}

.back-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: dashed 5px #00ffff;
}

.back-btn-wrapper .back-btn {
    height: 40px;
    width: 150px;
    border-radius: 15px;
    border: solid 3px #000;
    background-color: #EA7C25;
    color: #000;
    font-size: larger;
    transition: .5s;
    cursor: pointer;
}

.back-btn-wrapper .back-btn:hover {
    scale: 1.2;
}


/* .panel-container {
    display: none;
}

.table-wrapper {
    display: none;
}

.flip-container, .flip-inner {
    display: none; 
}*/

.flip-container,
.home-page {
    transition: 2s;
}


/* se puede refactorzar, hay cosas que podemos llevarlo directo a las clases de arriba */
.flip-container {
    position: absolute;
    perspective: 1000px;
    height: 450px;
    display: flex;
    align-items: center;
    width: 100vw;
    transform: translateX(100%);
}

.flip-inner {
    width: 100%;
    height: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.flip-inner.flipped {
    transform: rotateY(180deg);
}

.panel-container,
.table-wrapper {
    backface-visibility: hidden;
    position: absolute;
}

.table-wrapper {
    transform: rotateY(180deg);
}



@media screen and (max-width: 500px) {


    .flip-container,
    .custom-alert-window {
        display: none;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .working-note {
        position: absolute;
        color: #fff;
        border: dashed 5px #0ef;
        border-radius: 50%;
        height: 250px;
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        text-align: center;
        font-weight: 600;
    }

    .working-note h2 {
        animation: waiting-text-animation 2s linear infinite;
    }
    
    @keyframes waiting-text-animation {
        0%{
            font-size: 25px;
        }
        50%{
            font-size: 30px;
        }100%{
            font-size: 25px;
        }
    }

    .login-container {
        scale: 0.85;
    }

    .login-container span {
        position: absolute;
        left: 0;
        width: 32px;
        height: 6px;
        background-color: #2c4766;
        border-radius: 8px;
        transform-origin: 128px;
        transform: scale(1.5) rotate(calc(var(--i) * (360deg / 50)));
        transition: .5s;
        animation: animateBlink 3s linear infinite;
        animation-delay: calc(var(--i) * (3s / 50));
        scale: 1.09;
    }

    .sign-up-container,
    .login-box {
        display: none;
    }

}